.appBody {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  height: 100px;
  width: 93%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bodyContents {
  height: 100px;
  width: 86%;
  /* border: 1px solid black; */
}
.inspired {
  padding-top: 30px;
  font-family: FreightSansLF Pro, Noto Sans JP, Noto Sans KR, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, Segoe UI, Tahoma, -apple-system, Roboto,
    sans-serif;
}
.inspiredGrid {
  display: flex;
  /* border: 1px solid black; */
  margin-top: 20px;
}
.inspiredGridTwo {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.gridOne {
  width: 50%;
  /* border: 1px solid green; */
}
.gridOne > img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
.gridTwo {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-left: 10px;
  width: 50%;
  
}
.innerGridOne {
  display: flex;

  /* border: 1px solid black; */
  width: 100%;
}
.innerGridTwo {
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
}
.innerGrid {
  /* border: 1px solid black; */

  width: 85%;
  margin: 0px 10px 0 10px;
}
.innerGridd {
  /* border: 1px solid black; */

  width: 85%;
  margin: 20px 10px 0 10px;
}
.innerGridd > img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
.innerGrid > img {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
.handleShow {
  cursor: pointer;
  color: rgb(67, 149, 231);
}
.handleShow:hover {
  color: rgb(21, 50, 111);
}
