* {
  margin: 0;
}
body {
  margin: 0;
  font-family: FreightSansLF Pro, Noto Sans JP, Noto Sans KR, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, Segoe UI, Tahoma,  Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
